body {
    background-image: url('/assets/inicio.jpg');
    background-size: cover;
}

.mat-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.buttons {
    font-size: 20px;
    margin: 15px;
}