:host {
    display: flex;
    flex-direction: column;
    background-image: url(/assets/inicio.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.mat-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    font-size: 20px;
    margin: 15px;
    margin-top: 20%;
}