<div id="contenedor" class="form">
  <form [formGroup]="usuario">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput
               type="text"
               placeholder="example54"
               formControlName="nombre"
               >
        <mat-error *ngIf="usuario.get('nombre')?.errors?.required">Introduce un nombre</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
               formControlName="contraseña"
               >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="usuario.get('contraseña')?.errors?.required">Introduce una contraseña</mat-error>
        <mat-error *ngIf="usuario.get('contraseña')?.errors?.pattern">Contraseña no valida</mat-error>
      </mat-form-field>
    </div>  

    <button mat-raised-button color="warn">Log in</button>
    <br/>
    <div>
      <p>¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
    </div>
  </form>
</div>


