<body>
    <mat-accordion class="example-headers-align">
      <div class="form">
      <form [formGroup]="pcCustom">

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="expansion_panel">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Ponle nombre a tu creación *
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              Añade información sobre el Pc
            </mat-panel-description>
            <mat-form-field appearance="fill" class="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
              <mat-error *ngIf="pcCustom.get('nombre')?.errors?.required">Introduce un nombre para identificar tu Pc</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill" class="fill">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion"></textarea>
              <mat-error *ngIf="pcCustom.get('descripcion')?.errors?.required">Introduce una descripción</mat-error>
            </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tarjeta gráfica
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            El musculo, la potencia de un ordenador
          </mat-panel-description>
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="gpu">
              <mat-option *ngFor="let gpu of gpus" [value]="gpu">{{gpu.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="pcCustom.get('gpu')?.valid && (pcCustom.get('gpu')?.dirty || pcCustom.get('gpu')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.gpu.nucleos_cuda}} nucleos
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.gpu.tdp}} W de potencia
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                 {{pcCustom.value.gpu.vram}} GB {{pcCustom.value.gpu.tipo_memoria}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.gpu.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Procesador *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            El cerebro y la rapidez
          </mat-panel-description>
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="cpu">
              <mat-option *ngFor="let cpu of cpus" [value]="cpu">{{cpu.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('cpu')?.valid && (pcCustom.get('cpu')?.dirty || pcCustom.get('cpu')?.touched)">
            <mat-error [hidden]="!pcCustom.get('cpu')?.errors?.required">No hay ningun procesador seleccionado</mat-error>
          </div>
          <div *ngIf="pcCustom.get('cpu')?.valid && (pcCustom.get('cpu')?.dirty || pcCustom.get('cpu')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.cpu.nucleos}} nucleos
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.cpu.hilos}} hilos
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                socket {{pcCustom.value.cpu.socket}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.cpu.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Memoria Ram *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Los pensamientos y la fluidez
          </mat-panel-description>
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="ram">
              <mat-option *ngFor="let ram of rams" [value]="ram">{{ram.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('ram')?.valid && (pcCustom.get('ram')?.dirty || pcCustom.get('ram')?.touched)">
            <mat-error [hidden]="!pcCustom.get('ram')?.errors?.required">No hay ninguna memoria Ram seleccionada</mat-error>
          </div>
          <div *ngIf="pcCustom.get('ram')?.valid && (pcCustom.get('ram')?.dirty || pcCustom.get('ram')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ram.velocidad}} Mhz
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                CAS {{pcCustom.value.ram.latencia}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ram.memoria}} GB {{pcCustom.value.ram.tecnologia}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ram.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Placa Base *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            El cuerpo sobre el que se construye todo
          </mat-panel-description>
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="placa_base">
              <mat-option *ngFor="let placa of placas" [value]="placa">{{placa.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('placa_base')?.valid && (pcCustom.get('placa_base')?.dirty || pcCustom.get('placa_base')?.touched)">
            <mat-error [hidden]="!pcCustom.get('placa_base')?.errors?.required">No hay ninguna placa base seleccionada</mat-error>
          </div>
          <div *ngIf="pcCustom.get('placa_base')?.valid && (pcCustom.get('placa_base')?.dirty || pcCustom.get('placa_base')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.placa_base.chipset}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.placa_base.tamano}} 
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                socket {{pcCustom.value.placa_base.socket}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.placa_base.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Almacenamiento *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            La memoria y la rapidez con la que usarla
          </mat-panel-description>
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="almacenamiento">
              <mat-option *ngFor="let almacenamiento of almacenamientos" [value]="almacenamiento">{{almacenamiento.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('almacenamiento')?.valid && (pcCustom.get('almacenamiento')?.dirty || pcCustom.get('almacenamiento')?.touched)">
            <mat-error [hidden]="!pcCustom.get('almacenamiento')?.errors?.required">No hay ningun almacenamiento seleccionado</mat-error>
          </div>
          <div *ngIf="pcCustom.get('almacenamiento')?.valid && (pcCustom.get('almacenamiento')?.dirty || pcCustom.get('almacenamiento')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.almacenamiento.memoria}} GB
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.almacenamiento.tecnologia}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.almacenamiento.velocidad_escritura}} MB/s escritura
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.almacenamiento.velocidad_lectura}} MB/s lectura
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.almacenamiento.precio}} €
              </mat-chip>
              
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ventilación
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            La regulación de tempereratura para trabajar a gusto
          </mat-panel-description>
      
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="ventilacion">
              <mat-option *ngFor="let ventilacion of ventilaciones" [value]="ventilacion">{{ventilacion.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="pcCustom.get('ventilacion')?.valid && (pcCustom.get('ventilacion')?.dirty || pcCustom.get('ventilacion')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ventilacion.marca}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ventilacion.tipo_ventilacion}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag *ngIf="pcCustom.value.ventilacion.rgb">
                rgb 
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.ventilacion.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Caja *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            La armadura y soporte
          </mat-panel-description>
      
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="torre">
              <mat-option *ngFor="let torre of torres" [value]="torre">{{torre.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('torre')?.valid && (pcCustom.get('torre')?.dirty || pcCustom.get('torre')?.touched)">
            <mat-error [hidden]="!pcCustom.get('torre')?.errors?.required">No hay ninguna caja seleccionada</mat-error>
          </div>
          <div *ngIf="pcCustom.get('torre')?.valid && (pcCustom.get('torre')?.dirty || pcCustom.get('torre')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.torre.marca}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.torre.tamano}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag *ngIf="pcCustom.value.torre.rgb">
                rgb 
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                socket {{pcCustom.value.torre.socket}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.torre.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fuente de alimentación *
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Aporta energía a todos los componentes
          </mat-panel-description>
      
          <mat-form-field appearance="fill" class="fill">
            <mat-label>Elige tu componente</mat-label>
            <mat-select formControlName="psu">
              <mat-option *ngFor="let psu of psus" [value]="psu">{{psu.modelo}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!pcCustom.get('psu')?.valid && (pcCustom.get('psu')?.dirty || pcCustom.get('psu')?.touched)">
            <mat-error [hidden]="!pcCustom.get('psu')?.errors?.required">No hay ninguna fuente de alimentación seleccionada</mat-error>
          </div>
          <div *ngIf="pcCustom.get('psu')?.valid && (pcCustom.get('psu')?.dirty || pcCustom.get('psu')?.touched)">
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.psu.marca}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.psu.cableado}}
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.psu.potencia}} W
              </mat-chip>
              <mat-chip class="example-box" cdkDrag>
                {{pcCustom.value.psu.precio}} €
              </mat-chip>
            </mat-chip-list>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            <button mat-button color="primary" (click)="crearPc()">Finalizar</button>
          </mat-action-row>
        </mat-expansion-panel>
        <ul class="red" *ngIf="comprobarFormulario">
          <li *ngIf="pcCustom.get('cpu')?.errors?.required">No hay ningun procesador seleccionado</li>
          <li *ngIf="pcCustom.get('ram')?.errors?.required">No hay ninguna memoria Ram seleccionada</li>
          <li *ngIf="pcCustom.get('placa_base')?.errors?.required">No hay ninguna placa base seleccionada</li>
          <li *ngIf="pcCustom.get('almacenamiento')?.errors?.required">No hay ningun almacenamiento seleccionado</li>
          <li *ngIf="pcCustom.get('torre')?.errors?.required">No hay ninguna caja seleccionada</li>
          <li *ngIf="pcCustom.get('psu')?.errors?.required">No hay ninguna fuente de alimentación seleccionada</li>
        </ul>
          <ul class="red" *ngFor="let error of errores">
            <li>{{error}}</li>
          </ul>
        
        <p class="white">Los campos con el símbolo * son requeridos para crear tu Pc</p>
        </form>
      </div>
      </mat-accordion>

      <p [innerHTML]="newPc?.descripcion"></p>
      
</body>