:host {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/bundle.jpg');
  background-position: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-right: 8px;
}

.title{
  padding-right: 20px;
  padding-left: 20px;
}

form {
  align-self: center;
  width: 60%;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.descripcion {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.fill {
  margin-top: 5px;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-element {
  max-width: 33%;
}

