<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="componentes">Componentes</button>
    <button mat-menu-item [matMenuTriggerFor]="pcs">Ordenadores</button>
    <button mat-menu-item routerLink="/nosotros">Acerca de</button>
    <button mat-menu-item routerLink="/favoritos">Favoritos</button>
  </mat-menu>

  <mat-menu #componentes="matMenu">
    <button class="configurador" mat-menu-item routerLink="/configurador">Configura tu Pc <mat-icon>trending_up</mat-icon></button>
    <button mat-menu-item routerLink="/placasBase">Placas Base</button>
    <button mat-menu-item routerLink="/cpus">Procesadores</button>
    <button mat-menu-item routerLink="/almacenamiento">Almacenamiento</button>
    <button mat-menu-item routerLink="/graficas">Trajetas gráficas</button>
    <button mat-menu-item routerLink="/ram">Memoria RAM</button>
    <button mat-menu-item routerLink="/torres">Torres</button>
    <button mat-menu-item routerLink="/ventilacion">Ventilación</button>
    <button mat-menu-item routerLink="/psus">Fuentes Alimentación</button>
  </mat-menu>

  <mat-menu #pcs="matMenu">
    <button class="configurador" mat-menu-item routerLink="/configurador">Configura tu Pc <mat-icon>trending_up</mat-icon></button>
    <button mat-menu-item routerLink="/gamingPcs">Ordenadores Gaming</button>
    <button mat-menu-item routerLink="/pcsOficina">Ordenadores de oficina</button>
  </mat-menu>

  <span routerLink="principal">BestPC</span>

  <button class="main-buttons" mat-raised-button routerLink="/nosotros">Acerca de</button>
  <ng-container *ngIf="log.loggedIn()">
    <button class="main-buttons" mat-raised-button routerLink="/favoritos">Favoritos</button>
  </ng-container>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="miPerfil">
    <mat-icon>account_circle</mat-icon> 
  </button>
  <mat-menu #miPerfil="matMenu">
    <ng-container *ngIf="!log.loggedIn(); else loggedIn">
      <button mat-menu-item routerLink="/login">Iniciar sesión</button>
    </ng-container>
    <ng-template #loggedIn>
      <button mat-menu-item routerLink="/miPerfil">Mi perfil</button>
      <button mat-menu-item routerLink="/login" (click)="log.logOut()">Cerrar sesión</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
