<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="log.loggedIn()">
      <button class="configurador" mat-menu-item routerLink="/configurador">Configura tu Pc &nbsp;&nbsp;<mat-icon>trending_up</mat-icon></button>
    </ng-container>
    <button mat-menu-item [matMenuTriggerFor]="componentes">Componentes</button>
  </mat-menu>

  <mat-menu #componentes="matMenu">
    <button mat-menu-item routerLink="/principal/placa_base">Placas Base</button>
    <button mat-menu-item routerLink="/principal/cpu">Procesadores</button>
    <button mat-menu-item routerLink="/principal/almacenamiento">Almacenamiento</button>
    <button mat-menu-item routerLink="/principal/gpu">Trajetas gráficas</button>
    <button mat-menu-item routerLink="/principal/ram">Memoria RAM</button>
    <button mat-menu-item routerLink="/principal/torre">Torres</button>
    <button mat-menu-item routerLink="/principal/ventilacion">Ventilación</button>
    <button mat-menu-item routerLink="/principal/psu">Fuentes Alimentación</button>
  </mat-menu>

  <span class="puntero" routerLink="principal/todo">&nbsp;BestPC</span>

  <ng-container *ngIf="log.loggedIn()">
    <button class="main-buttons" mat-raised-button routerLink="/favoritos">Favoritos</button>
  </ng-container>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="miPerfil">
    <mat-icon>account_circle</mat-icon> 
  </button>
  <mat-menu #miPerfil="matMenu">
    <ng-container *ngIf="!log.loggedIn(); else loggedIn">
      <button mat-menu-item routerLink="/login">Iniciar sesión</button>
    </ng-container>
    <ng-template #loggedIn>
      <button mat-menu-item routerLink="/miPerfil">Mi perfil</button>
      <button mat-menu-item routerLink="/login" (click)="log.logOut()">Cerrar sesión</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
