<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item routerLink="/nosotros">Acerca de</button>
    <button mat-menu-item routerLink="/login">Log in</button>
    <button mat-menu-item routerLink="/register">Register</button>
    <button mat-menu-item routerLink="/favoritos">Favoritos</button>
  </mat-menu>

  <span routerLink="principal">BestPC</span>

  <button class="main-buttons" mat-raised-button routerLink="/nosotros">Acerca de</button>
  <button class="main-buttons" mat-raised-button routerLink="/login">Log in</button>
  <button class="main-buttons" mat-raised-button routerLink="/register">Register</button>
  <button class="main-buttons" mat-raised-button routerLink="/favoritos">Favoritos</button>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="miPerfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #miPerfil="matMenu">
    <ng-container *ngIf="!log.loggedIn(); else loggedIn">
      <button mat-menu-item routerLink="/login">Iniciar sesión</button>
    </ng-container>
    <ng-template #loggedIn>
      <button mat-menu-item routerLink="/miPerfil">Mi perfil</button>
      <button mat-menu-item routerLink="/login" (click)="log.logOut()">Cerrar sesión</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
