.form {
  display: flex;
  justify-content: center;
}

form {
  width: 60%;
  background-color: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

form * {
  padding: 5px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group label {
  width: 15%;
}

.form-group input {
  width: 85%;
}

button {
  width: 120px;
  align-self: center;
}
  