<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    [ngClass]="cantidadMinima || cantidadMaxima || panelOpenState === true ? 'active-filter-width' : 'no-filter-width' ">
    <mat-expansion-panel-header [ngClass]="{'active-filter-bg': cantidadMinima || cantidadMaxima}">
        <mat-panel-title [ngClass]="{'active-filter-text': cantidadMinima || cantidadMaxima}">
            <span>Precio</span>
            <span *ngIf="cantidadMinima || cantidadMaxima">:&nbsp;</span>
            <span *ngIf="cantidadMinima">{{cantidadMinima}}€</span>
            <span *ngIf="cantidadMinima">&nbsp;-&nbsp;</span>
            <span *ngIf="cantidadMaxima">{{cantidadMaxima}}€</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="budget-range">
        <mat-form-field appearance="outline">
            <mat-label>Mínimo</mat-label>
            <input type="number" matInput placeholder="5€" [(ngModel)]="cantidadMinima">
            <mat-icon matPrefix>euro_symbol</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Máximo</mat-label>
            <input type="number" matInput placeholder="500€" [(ngModel)]="cantidadMaxima">
            <mat-icon matPrefix>euro_symbol</mat-icon>
        </mat-form-field>
    </div>
</mat-expansion-panel>
