<div class="principal">
  <p class="titulo">COMPONENTES POPULARES</p>
    <div class="lista-paginator">
        <div class="lista">
            <div *ngFor="let dato of listaParaMostrar" class="list-element">
                <div class="cabecera-componentes"> 
                  <div class="cabecera-1">
                    <p class="title">
                      {{dato.modelo}}
                    </p>
                  </div>
                  <div *ngIf="usuario">
                    <button class="icono-fav" *ngIf="isFavorito(dato)" (click)="addFavorito(dato)"><mat-icon class="red">favorite</mat-icon></button>
                    <button class="icono-fav" *ngIf="!isFavorito(dato)" (click)="addFavorito(dato)"><mat-icon>favorite_border</mat-icon></button>
                  </div> 
                </div>
                <div class="carousel">
                    <carousel 
                    [cellsToShow]="1"
                    [loop]="true"
                    [dots]="true"
                    [transitionDuration]="1000"
                    [arrowsOutside]="true">
                        <div class="carousel-cell" *ngFor="let img of dato.imgs">
                            <img [src]="img" class="img-cell">
                        </div>
                    </carousel>
                </div>
                <div *ngIf="dato.tipo === 'gpu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.nucleos_cuda}} nucleos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.tdp}} W de potencia
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                           {{dato.vram}} GB {{dato.tipo_memoria}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'cpu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.nucleos}} nucleos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.hilos}} hilos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{dato.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'ram'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.velocidad}} Mhz
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          CAS {{dato.latencia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.memoria}} GB {{dato.tecnologia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'placa base'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.chipset}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.tamano}} 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{dato.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'almacenamiento'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.memoria}} GB
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.tecnologia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.velocidad_escritura}} MB/s escritura
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.velocidad_lectura}} MB/s lectura
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'ventilacion'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.tipo_ventilacion}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag *ngIf="dato.rgb">
                          rgb 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'torre'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.tamano}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag *ngIf="dato.rgb">
                          rgb 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{dato.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="dato.tipo === 'psu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.cableado}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.potencia}} W
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{dato.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <mat-paginator [length]="listaComponentes.length" [pageSize]="cantidadPorPagina" (page)='paginar($event)'
	        [pageSizeOptions]="opcionesDeCantidades" yPosition="below" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
