<div class="principal">
  <ng-container *ngIf="usuario?.componente_favoritos?.length < 1; else tienesFavoritos">
    <h2>¡Vaya! Parece que todavía no tienes ningún componente cómo favorito</h2>
    <button class="main-buttons" routerLink="/principal" mat-raised-button>Mirar componentes populares</button>
  </ng-container>
  <ng-template #tienesFavoritos>
    <p class="titulo">TUS COMPONENTES FAVORITOS</p>
    <div class="lista-paginator">
        <div class="lista">
            <div *ngFor="let componente of componentesFavoritos" class="list-element">
                <p class="title">
                    {{componente.modelo}}
                </p>
                <div class="carousel">
                    <carousel 
                    [cellsToShow]="1"
                    [loop]="true"
                    [dots]="true"
                    [transitionDuration]="1000">
                        <div class="carousel-cell" *ngFor="let img of componente.imgs">
                            <img [src]="img" class="img-cell">
                        </div>
                    </carousel>
                </div>
                <div *ngIf="componente.tipo === 'gpu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.nucleos_cuda}} nucleos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.tdp}} W de potencia
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                           {{componente.vram}} GB {{componente.tipo_memoria}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'cpu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.nucleos}} nucleos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.hilos}} hilos
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{componente.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'ram'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.velocidad}} Mhz
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          CAS {{componente.latencia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.memoria}} GB {{componente.tecnologia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'placa base'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.chipset}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.tamano}} 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{componente.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'almacenamiento'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.memoria}} GB
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.tecnologia}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.velocidad_escritura}} MB/s escritura
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.velocidad_lectura}} MB/s lectura
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'ventilacion'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.tipo_ventilacion}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag *ngIf="componente.rgb">
                          rgb 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'torre'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.tamano}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag *ngIf="componente.rgb">
                          rgb 
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          socket {{componente.socket}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="componente.tipo === 'psu'">
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.marca}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.cableado}}
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.potencia}} W
                        </mat-chip>
                        <mat-chip class="example-box" cdkDrag>
                          {{componente.precio}} €
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <mat-paginator [length]="componentesFavoritos?.length" [pageSize]="cantidadPorPagina" (page)='paginar($event)'
	        [pageSizeOptions]="opcionesDeCantidades" yPosition="below" showFirstLastButtons>
        </mat-paginator>
    </div>
  </ng-template>
</div>
