<div class="filter" id="filter">
    <div class="filter__header">
      <p class="filter__title">Filtrar por</p>
    </div>
    <div class="filter__body">
      <div>
        <label for="">componente</label>
        <mat-form-field appearance="standard">
          <input matInput placeholder="Modelo de componente" [(ngModel)]="filterSelected.filterByText" (keyup)="filterByText()">
        </mat-form-field>
      </div>
      <div class="filter__checkbox-container">
        <span>Estado</span>
        <mat-radio-group
        (change)="statusChange()"
        [(ngModel)]="filterSelected.filterByStatus">
          <mat-radio-button [value]="true">Activada</mat-radio-button>
          <mat-radio-button [value]="false">Desactivada</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button class="filter__clear" mat-button (click)="clearFilter()" *ngIf="isFiltered">Limpiar filtros</button>
      </div>
    </div>
  </div>