/* You can add global styles to this file, and also import other style files */

#contenedor {
  height: 750px;
}

html, body { background-color: #ededed;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.titulo {
  align-self: center;
    font-family: Impact;
    font-size: 45px;
    line-height: 55px;
    color: coral;
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
}

.red {
  color: red;
}
