<div class="principal">
    <div class="icono_nombre">
        <mat-icon class="perfil-icon">account_circle</mat-icon> 
        <p>{{usuario?.nombre}} {{usuario?.apellidos}}</p>
    </div>
    <div class="info">
        <p>Email: {{usuario?.email}}  <mat-icon class="edit_icon" (click)="openDialog('email')">edit</mat-icon></p>
        <p>Código Postal: {{usuario?.cp}}  <mat-icon class="edit_icon" (click)="openDialog('código postal')">edit</mat-icon></p>
        <p>Teléfono: {{usuario?.telefono}}  <mat-icon class="edit_icon" (click)="openDialog('número de telefono')">edit</mat-icon></p>
        <button mat-raised-button (click)="openDialog('password')">Cambiar contraseña</button>
    </div>
    <div *ngIf="usuario?.componente_favoritos && usuario?.componente_favoritos?.length === 0">
        <h2>Tus Pcs favoritos</h2>
    </div>
    <div *ngIf="usuario?.pc_favoritos && usuario?.pc_favoritos?.length === 0">
        <h2>Tus Componentes favoritos</h2>
    </div>
</div>