<div class="principal">
    <div class="icono_nombre">
        <mat-icon class="perfil-icon">account_circle</mat-icon> 
        <p>{{usuario?.nombre}} {{usuario?.apellidos}}</p>
    </div>
    <div class="info">
        <div class="info-elements">Email: &nbsp;&nbsp;{{usuario?.email}}  &nbsp;&nbsp;<mat-icon class="edit_icon" (click)="openDialog('email')">edit</mat-icon></div>
        <div class="info-elements">Código Postal: &nbsp;&nbsp;{{usuario?.cp}}  &nbsp;&nbsp;<mat-icon class="edit_icon" (click)="openDialog('código postal')">edit</mat-icon></div>
        <div class="info-elements">Teléfono: &nbsp;&nbsp;{{usuario?.telefono}}  &nbsp;&nbsp;<mat-icon class="edit_icon" (click)="openDialog('número de telefono')">edit</mat-icon></div>
        <button mat-raised-button (click)="openDialog('password')">Cambiar contraseña</button>
    </div>
</div>